* {
    margin-top: 0px;
}

.header {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.form {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
}

#globe {
    margin-top: 0px;
}

#input {
    width: 350px;
    height: 30px;
    margin-right: 0px;
    border: 2px solid darkgray;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

#search {
    width: 80px;
    height: 34px;
    margin-left: 0px;
    border: 1px solid darkolivegreen;
    background-color: darkolivegreen;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}

#search:active {
    background-color: darkolivegreen;
    border: 1px solid darkolivegreen;
}

#flag img {
    width: 150px;
    height: 90px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.information {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: auto 160px;
    grid-template-areas:
        "flag name"
        "info info";
}

#flag {
    grid-area: flag;
    margin-top: 15px;
    margin-left: 15px;
}

#countryName {
    grid-area: name;
    display: flex;
    padding-left: 20px;
    padding-top: 30px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 40px;
    font-weight: 700;
}

#information {
    grid-area: info;
    padding-top: 20px;
    padding-left: 20px;
    line-height: 1.6;
    font-weight: 600;
}

#info {
    border: none;
}

#listOfCountries {
    line-height: 0.5;
    font-family: 'Open Sans', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #FAFAFA;
    padding: 20px;

}

#listOfCountries:after {
    content: "";
    display: table;
    clear: both;
}

.Africa,
.Americas,
.Asia,
.Europe,
.Oceania,
.notDefined {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.Africa:hover .tooltiptext,
.Americas:hover .tooltiptext,
.Asia:hover .tooltiptext,
.Europe:hover .tooltiptext,
.Oceania:hover .tooltiptext,
.notDefined:hover .tooltiptext {
    visibility: visible;
}

.Africa {
    color: #5371B7;
    font-weight: bold;
    float: left;
    width: 33.33%;
}

.Americas {
    color: #4C824B;
    font-weight: bold;
    float: left;
    width: 33.33%;
}

.Asia {
    color: #D14E5B;
    font-weight: bold;
    float: left;
    width: 33.33%;
}

.Europe {
    color: #FFD435;
    font-weight: bold;
    float: left;
    width: 33.33%;
}

.Oceania {
    color: #A653BA;
    font-weight: bold;
    float: left;
    width: 33.33%;
}

.notDefined {
    font-weight: bold;
    float: left;
    width: 33.33%;
}